<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="assets/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="assets/bootstrap-theme.min.css">
		<script src="assets/jquery-1.11.3.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="assets/bootstrap.min.js"></script>
		<script src="angular.js"></script>
		<link rel="stylesheet" href="assets/ng-table.min.css">
		<script src="assets/ng-table.js"></script>
		<script src="app.js"></script>
		<script src="controllers/controllers.js"></script>
	</head>
	<body style="background: yellow;">
		<div ng-controller="PeliculasController">
			<h1 style="color: red;">IMDB version diskete</h1>
			<h3>Filtro</h3>
			<div style="margin-top: 10px;">
				<div class="container" style="width: 600px; margin-left: 0;">
					<div class="row">
						<div class="col-md-5">
							Buscar por nombre de pelicula:
						</div>
						<div class="col-md-5">
							<input type="text" ng-model="name"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							Buscar por año:
						</div>
						<div class="col-md-5">
							<input type="text" ng-model="year" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							Buscar todas las películas:
						</div>
						<div class="col-md-5">
							<input type="radio" ng-model="filterByAward" ng-value="false"/>
							Filtrar por premiadas: <input type="radio" ng-model="filterByAward" ng-value="true"/>
						</div>
					</div>
					<div class="row" ng-show="filterByAward">
						<div class="col-md-5">
							Buscar peliculas premiadas:
						</div>
						<div class="col-md-5">
							<input type="checkbox" ng-model="oscar"/>
						</div>
					</div>
				</div>
			</div>
			<br><hr>
			<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
				<tbody>
					<tr ng-repeat="peli in $data"><!-- |  filter: {name:name, year:year, oscar: filterByAward ? (oscar ? 'si' : 'no') : ''"> -->
					<td title="'Nombre'" filter="{ name: 'text'}" sortable="'name'">{{peli.name}}</td>
					<td title="'Año'" filter="{ year: 'number'}" sortable="'year'">{{peli.year}}</td>
					<td title="'Oscar'" filter="{ oscar: 'text'}" sortable="'oscar'">{{peli.oscar}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</body>
</html>