<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<script src="angular.js"></script>
		<script src="app.js"></script>
		<script src="controllers/controllers.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<div ng-controller="PeliculasController">
			<h2 style="color: red;">IMDB version diskete</h2>
			<h3>Filtro</h3>
			<div style="margin-top: 10px;">
				<div class="container" style="width: 600px; margin-left: 0;">
					<div class="row">
						<div class="col-md-5">
							Buscar por nombre de pelicula:
						</div>
						<div class="col-md-5">
							<input type="text" ng-model="name"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							Buscar por año:
						</div>
						<div class="col-md-5">
							<input type="text" ng-model="year" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							Buscar todas las películas:
						</div>
						<div class="col-md-5">
							<input type="radio" ng-model="filterByAward" ng-value="false"/>
							Filtrar por premiadas: <input type="radio" ng-model="filterByAward" ng-value="true"/>
						</div>
					</div>
					<div class="row" ng-show="filterByAward">
						<div class="col-md-5">
							Buscar peliculas premiadas:
						</div>
						<div class="col-md-5">
							<input type="checkbox" ng-model="oscar"/>
						</div>
					</div>
				</div>
			</div>
			<br><hr>
			<table class="table">
				<thhead>
					<tr><th>Nombre</th><th>Año</th><th>Oscar</th></tr>
				</thhead>
				<tbody>
					<tr ng-repeat="peli in peliculas | filter: {name:name, year:year, oscar: filterByAward ? (oscar ? 'si' : 'no') : ''}">
						<td ng-bind="peli.name"></td>
						<td ng-bind="peli.year"></td>
						<td ng-bind="peli.oscar"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</body>
</html>